<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth</title>
</head>
<body>
    <div>
        <div>http://localhost:8080/auth/social/redirect/github</div>
        <a href="http://localhost:8080/auth/social/redirect/github?next=/sub">Github 로그인</a>
    </div>
    <div>
        <a href="http://localhost:8080/sub">sub 페이지로 이동</a>
    </div>
</body>
</html>
